body {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    font-family: Roboto;
    font-weight: 300;
}

header,
main {
    display: flex;
    justify-content: center;

    width: 100%;
}

a {
    color: inherit;
}

.header__cover,
.main__cover {
    width: 100%;
    max-width: 1024px;
}

header {
    position: fixed;

    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(140, 140, 140, 1);
}

.header__cover {
    display: flex;
    justify-content: flex-end;

    padding: 20px;
}

.header__cover div {
    margin-right: 20px;
}

.header__cover div:last-child {
    margin-right: 0;
}

.header__cover div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main__cover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 50px 0;
    margin-top: 50px;
    margin-bottom: 25px;
}

.personal-info__background {
    position: fixed;
    left: 0;
    top: auto;
    z-index: -1;

    width: 100%;
    max-height: 285px;
}

.personal-info__text {
    font-size: 40px;
    color: white;
}

.personal-info__img img {
    width: 150px;
    height: auto;

    border-radius: 2px;
}

.cv {
    display: flex;
    flex-direction: column;

    max-width: 800px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: white;

    font-size: 25px;
    text-align: center;
}

.cv__technologies-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
}

.cv__technologies-icons__icon {
    justify-self: center;

    height: 70px;
    width: auto;
}

.fs-small {
    font-size: 0.7em;
}

.cv__portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
}

.cv__portfolio__item {
    max-width: 100%;
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url("fonts/RobotoLight.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: normal;
    src: url("fonts/RobotoRegular.ttf");
}
